<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">

		<title>Plaudit! Frequently Asked Questions</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- 		<link rel="stylesheet" type="text/css" href="../public/assets/css/landing.css">-->
	</head>
 
	<body>
	  <div class="container">
		<div class="row"> 
			<h1>Plaudit! Frequently Asked Questions</h1>

			<ul class="collapsible" data-collapsible="accordion">
			    <li>
			    	<div class="collapsible-header"><i class="material-icons">label_outline</i>Question ONE here?</div>
			    	<div class="collapsible-body"><span>Answer ONE here.</span></div>
			    </li>
				<li>
			    	<div class="collapsible-header"><i class="material-icons">label_outline</i>Question TWO here?</div>
			    	<div class="collapsible-body"><span>Answer TWO here.</span></div>
			    </li>
			    <li>
				    <div class="collapsible-header"><i class="material-icons">label_outline</i>Question THREE here?</div>
				   	<div class="collapsible-body"><span>Answer THREE here.</span></div>
				</li>
				<li>
			    	<div class="collapsible-header"><i class="material-icons">label_outline</i>Question FOUR here?</div>
			    	<div class="collapsible-body"><span>Answer FOUR here.</span></div>
			    </li>
			    <li>
				   <div class="collapsible-header"><i class="material-icons">label_outline</i>Question FIVE here?</div>
				   <div class="collapsible-body"><span>Answer FIVE here.</span></div>
				</li>
				<li>
				    <div class="collapsible-header"><i class="material-icons">label_outline</i>Question SIX here?</div>
				    <div class="collapsible-body"><span>Answer SIX here.</span></div>
				</li>
				<li>
				    <div class="collapsible-header"><i class="material-icons">label_outline</i>Question SEVEN here?</div>
				    <div class="collapsible-body"><span>Answer SEVEN here.</span></div>
				</li>
				<li>
				    <div class="collapsible-header"><i class="material-icons">label_outline</i>Question EIGHT here?</div>
				    <div class="collapsible-body"><span>Answer EIGHT here.</span></div>
				</li>
				<li>
				    <div class="collapsible-header"><i class="material-icons">label_outline</i>Question NINE here?</div>
				    <div class="collapsible-body"><span>Answer NINE here.</span></div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">label_outline</i>Question TEN here?</div>
				    <div class="collapsible-body"><span>Answer TEN here.</span></div>
				</li>
			</ul>
		</div>
	</div>

		<footer class="container">
			<div class="row">
	        	<div class="col s12">
					<div class="footer-copyright center-align">
			            © 2017 Copyright Plaudit!
			        </div>
			    </div>
			</div>
	    </footer>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

	</body>
</html>


