	  <div class="container">
		<div class="row"> 
			<div class="col s12 center-align" id="title">
				<h2>FAQ</h2>
			</div>
		</div>

		<div class="row">	

				<ul class="collapsible" data-collapsible="accordion">
				    <li>
				    	<div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>What is Plaudit?</div>
				    	<div class="collapsible-body"><span>Plaudit is a workplace application that lets you publically applaud the achievements of your peers and employees. Plaudit means “an enthusiastic expression of approval.” We believe workplace culture should not only encourage positive feedback, but celebrate it!</span></div>
				    </li>
					<li>
				    	<div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>How does Plaudit work?</div>
				    	<div class="collapsible-body"><span>Give positive feedback by sending a coworker or your employee a Plaudit Badge and short message recognizing their achievements. The notice will join the Plaudit activity feed (i.e., your home screen) for your entire workplace to see. When you send a badge, the recipient and their manager get email notifications sharing the good news.</span></div>
				    </li>
				    <li>
					    <div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>Are the messages private?</div>
					   	<div class="collapsible-body"><span>Nearly everything on Plaudit is visible to your workplace, including your profile information, so keep messages and other information safe for work!</span></div>
					</li>
					<li>
				    	<div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>How do I log in?</div>
				    	<div class="collapsible-body"><span>For first-time users: Click the “sign up” link on our welcome screen to complete your profile and set your password. Please note that we store encrypted passwords in our database, so nobody has access to your password – except you.
				    	<p>For returning users: Go to the Plaudit welcome screen and log right in!</p></span></div>
				    </li>
				    <li>
					   <div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>How do I give a Plaudit Badge?</div>
					   <div class="collapsible-body"><span>Once you’ve logged in, click the menu at the top left of your screen. Select the “Give a Badge!” option and then enter the recipient’s name. You’ll see a prompt to help with selection as you start typing. Pick one of our badges to send and write a nice message before you hit send. That’s it!</span></div>
					</li>
					<li>
					    <div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>What happens when I get a Plaudit Badge?</div>
					    <div class="collapsible-body"><span>It means your status as a rock star at the office has been noticed! As soon as a coworker gives you a badge, you’ll get an email notification, and your manager will get one too. Your whole team will also see your accolades on the Plaudit activity feed (i.e., the home screen).</span></div>
					</li>
					<li>
					    <div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>What happens when I give a Plaudit Badge?</div>
					    <div class="collapsible-body"><span>It means you recognize and appreciate the hard work of your peers! When you send a Plaudit Badge, the recipient and their manager will be notified via email, and your message and badge selection will be shared on Plaudit’s activity feed (i.e., the home screen).</span></div>
					</li>
					<li>
					    <div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>What happens if I forget my password?</div>
					    <div class="collapsible-body"><span>Click the “forgot password” link on the Plaudit homepage and a new  password will be sent to you via email. Please note that we store encrypted passwords in our database, so nobody has access to your password – except you.</span></div>
					</li>
					<li>
					    <div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>Can I design a new badge for Plaudit?</div>
					    <div class="collapsible-body"><span>That’s a great idea! We’d love to let you design your own Plaudit Badge at some point in the future as we enhance our Plaudit app.</span></div>
					</li>
					<li>
						<div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>How do I change my profile information?</div>
					    <div class="collapsible-body"><span>Your profile basics, including name, title, email, phone and photo, are provided to us by your company, based on their records. We’re happy to update this basic information as it changes. Your “fun fact” is set when you log in as a first-time user and is not yet an edited field.</span></div>
					</li>
				</ul>
			</div>
		</div>
	</div>