	  <div class="container">
		<div class="row"> 
			<div class="col s12 center-align" id="title">
				<h2>FAQ</h2>
				<div class="header-border"></div>
			</div>
		</div>

		<div class="row">	

				<ul class="collapsible" data-collapsible="accordion">
				    <li>
				    	<div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>Question ONE here?</div>
				    	<div class="collapsible-body"><span>Answer ONE here.</span></div>
				    </li>
					<li>
				    	<div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>Question TWO here?</div>
				    	<div class="collapsible-body"><span>Answer TWO here.</span></div>
				    </li>
				    <li>
					    <div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>Question THREE here?</div>
					   	<div class="collapsible-body"><span>Answer THREE here.</span></div>
					</li>
					<li>
				    	<div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>Question FOUR here?</div>
				    	<div class="collapsible-body"><span>Answer FOUR here.</span></div>
				    </li>
				    <li>
					   <div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>Question FIVE here?</div>
					   <div class="collapsible-body"><span>Answer FIVE here.</span></div>
					</li>
					<li>
					    <div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>Question SIX here?</div>
					    <div class="collapsible-body"><span>Answer SIX here.</span></div>
					</li>
					<li>
					    <div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>Question SEVEN here?</div>
					    <div class="collapsible-body"><span>Answer SEVEN here.</span></div>
					</li>
					<li>
					    <div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>Question EIGHT here?</div>
					    <div class="collapsible-body"><span>Answer EIGHT here.</span></div>
					</li>
					<li>
					    <div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>Question NINE here?</div>
					    <div class="collapsible-body"><span>Answer NINE here.</span></div>
					</li>
					<li>
						<div class="collapsible-header"><div class="faq-icon right">&rsaquo;</div>Question TEN here?</div>
					    <div class="collapsible-body"><span>Answer TEN here.</span></div>
					</li>
				</ul>
			</div>
		</div>
	</div>