<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Frequently Asked Quesitons</title>

	<!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
  	<h1>THIS IS A TEST THis is still a test dedit edit edit edit words</h1>
	<h1>Frequently Asked Questions about INSERT APP NAME HERE</h1>

		<p>Q: Question one here?</p>
		<p>A: Answer one here.</p>

		<p>Q: Question two here?</p>
		<p>A: Answer two here.</p>

		<p>Q: Question three here?</p>
		<p>A: Answer three here.</p>

		<p>Q: Question four here?</p>
		<p>A: Answer four here.</p>

		<p>Q: Question five here?</p>
		<p>A: Answer five here.</p>

		<p>Q: Question six here?</p>
		<p>A: Answer six here.</p>

		<p>Q: Question seven here?</p>
		<p>A: Answer seven here.</p>

		<p>Q: Question eight here?</p>
		<p>A: Answer eight here.</p>

		<p>Q: Question nine here?</p>
		<p>A: Answer nine here.</p>

		<p>Q: Question ten here?</p>
		<p>A: Answer ten here.</p>

  </body>
</html>
