	<div class="container" id="give-badge-page">
		<div class="row">
			<div class="col s12 center-align" id="title">
			    <h1>Give a Badge!</h1>
			</div>
		</div>

		<form method="post" action="/badge/post">
			<div class="row">
				<div class="input-field col s12">
					<input id="recipient" type="text" class="validate">
					<label for="recipient">Recipient's Name</label>
				</div>
			</div>

			<div class="row">

				<div class="col s12 m3">
					<div class="card">
						<div class="card-image">
							<img src="../public/assets/images/badges/crown.svg">
						</div>
						<div class="card-content">
							<input class="with-gap" name="crown" type="radio" id="badge1" />
							<label for="badge1">Workplace Royalty</label>
						</div>
					</div>
				</div>


				<div class="col s12 m3">
					<div class="card">
						<div class="card-image">
							<img src="../public/assets/images/badges/lightbulb.svg">
						</div>
						<div class="card-content">
							<input class="with-gap" name="lightbulb" type="radio" id="badge2" data-url="../public/assets/images/badges/lightbulb.svg" />
							<label for="badge2">Great Idea</label>
						</div>
					</div>
				</div>

	
				<div class="col s12 m3">
					<div class="card">
						<div class="card-image">
							<img src="../public/assets/images/badges/star.svg">
						</div>
						<div class="card-content">
							<input class="with-gap" name="star" type="radio" id="badge3" data-url="../public/assets/images/badges/star.svg" />
							<label for="badge3">Superstar</label>
						</div>
					</div>
				</div>


				<div class="col s12 m3">
					<div class="card">
						<div class="card-image">
							<img src="../public/assets/images/badges/trophy.svg">
						</div>
						<div class="card-content">
							<input class="with-gap" name="trophy" type="radio" id="badge4" />
							<label for="badge4">Champion</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<textarea id="textarea" class="materialize-textarea" name="comment"></textarea>
					<label for="textarea">Write a Nice Message!</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12 center-align">
					<button class="waves-effect waves-light btn" type="submit" id="give-badge-submit">SEND</button>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript">
		app.post("/badge/post", function(req, res) {
  			connection.query("INSERT INTO movies (movie) VALUES (?)", [req.body.movie], function(err, result) {
    		if (err) {
      			throw err;
    		}
    		alert ("Thanks! Your badge was submitted successfully.")
    		res.redirect("/index");
  		});
});
	</script>