<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<title>Give a Badge!</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>

	<div class="container" id="give-badge-page">
		<div class="row">
			<div class="col s12 center-align" id="title">
			    <h1>Give a Badge!</h1>
			</div>
		</div>

		<form action="#">
			<div class="row">
				<div class="input-field col s12">
					<input id="recipient" type="text" class="validate">
					<label for="recipient">Recipient's Name</label>
				</div>
			</div>

			<div class="row">

				<div class="col s4 m4 l2">
					<div class="card">
						<div class="card-image">
							<img src="https://cdn0.iconfinder.com/data/icons/sport-achievment-badges/128/sport_badges-05-128.png">
						</div>
						<div class="card-content">
							<input class="with-gap" name="badge-group" type="radio" id="badge1"  />
							<label for="badge1">Trophy</label>
						</div>
					</div>
				</div>

				<div class="col s4 m4 l2">
					<div class="card">
						<div class="card-image">
							<img src="https://cdn0.iconfinder.com/data/icons/sport-achievment-badges/128/sport_badges-02-128.png">
						</div>
						<div class="card-content">
							<input class="with-gap" name="badge-group" type="radio" id="badge2"  />
							<label for="badge2">Medal</label>
						</div>
					</div>
				</div>

				<div class="col s4 m4 l2">
					<div class="card">
						<div class="card-image">
							<img src="https://cdn0.iconfinder.com/data/icons/sport-achievment-badges/128/sport_badges-06-128.png">
						</div>
						<div class="card-content">
							<input class="with-gap" name="badge-group" type="radio" id="badge3"  />
							<label for="badge3">Torch</label>
						</div>
					</div>
				</div>

				<div class="col s4 m4 l2">
					<div class="card">
						<div class="card-image">
							<img src="https://cdn0.iconfinder.com/data/icons/sport-achievment-badges/128/sport_badges-09-128.png">
						</div>
						<div class="card-content">
							<input class="with-gap" name="badge-group" type="radio" id="badge4"  />
							<label for="badge4">Ribbon</label>
						</div>
					</div>
				</div>

				<div class="col s4 m4 l2">
					<div class="card">
						<div class="card-image">
							<img src="https://cdn0.iconfinder.com/data/icons/sport-achievment-badges/128/sport_badges-03-128.png">
						</div>
						<div class="card-content">
							<input class="with-gap" name="badge-group" type="radio" id="badge5"  />
							<label for="badge5">Podium</label>
						</div>
					</div>
				</div>

				<div class="col s4 m4 l2">
					<div class="card">
						<div class="card-image">
							<img src="https://cdn0.iconfinder.com/data/icons/sport-achievment-badges/128/sport_badges-04-128.png">
						</div>
						<div class="card-content">
							<input class="with-gap" name="badge-group" type="radio" id="badge6"  />
							<label for="badge6">Okay!</label>
						</div>
					</div>
				</div>						
			</div>

			<div class="row">
				<div class="input-field col s12">
					<textarea id="textarea" class="materialize-textarea"></textarea>
					<label for="textarea">Write a Nice Message!</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12 center-align">
					<button class="waves-effect waves-light btn" type="submit" id="give-badge-submit">SEND</button>
				</div>
			</div>
		</form>
	
	</div>

	<footer class="container">
		<div class="row">
        	<div class="col s12">
				<div class="footer-copyright center-align">
		            © 2017 Copyright Plaudit!
		        </div>
		    </div>
		</div>
    </footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

</body>
</html>
