<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Plaudit!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

</head>

<body>
	<div class="container" id="greeting-page">
		<div class="row">
			<div class="col s12 center-align" id="title">
				<a id="greeting-link" class="smooth"></a>
			    <h1>Plaudit!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col m8 offset-m2 col s10 offset-s1 center-align" id="intro-text">
			    <p>
			    ˈplôdət<br>
				noun<br>
				1. an enthusiastic expression of approval<br>
				2. a demonstration or round of applause, as for some approved or admired performance.
			    </p>
			</div>
		</div>
		<div class="row" id="sign-in">
			<form class="col s10 offset-s1 col m6 offset-m3">
				<div class="row">
					<p class="center-align">Please log in.</p>
					<div class="input-field col s12">
					    <input id="existing-email" type="email" class="validate" required>
					    <label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
					    <input id="existing-password" type="password" class="validate" required>
					    <label for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 center-align">
					    <button class="waves-effect waves-meeshteal btn" type="submit">
					      	SUBMIT
					    </button>
					</div>
				</div>
			</form>
			<div class="col s12 center-align" id="title">
			    <span class="flow-text">
			      		<a href="#modal1">Forgot Password?</a> | 
			      		New User? <a href="#newuser-link">Sign-up!</a>
				</span>
			</div>
		</div>
	</div>
	<div class="container">
		<div id="modal1" class="modal">
    		<div class="modal-content">
    		<a href="#" class="modal-action modal-close btn btn-flat right-align">X</a><br>
      		<h4 class="center-align">Password Retrieval</h4>
      		<form>
				<div class="input-field">
					<input id="recover-email" type="email" class="validate" required>
					<label for="email">Enter your email</label>
				</div>
				<div class="input-field">
					<button class="waves-effect waves-meeshteal btn center-align" type="submit" id="recover-pw">SEND PASSWORD</button>
				</div>
      		<div id="confirm"></div>
    	</div>
	</div>

	<div class="container" id="newuser-page">
		<a id="newuser-link" class="smooth"></a>
		<div class="row">
			<div class="col s12 center-align" id="title">
			    <h1>Welcome to Plaudit!</h1>
			</div>
		</div>
		<div class="row">
			<form class="col s10 offset-s1 col m6 offset-m3">
				<div class="row">
					<div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input type="text" placeholder="Email Search" required>
                    </div>
				</div>
				<div class="row">
					<div class="input-field col s6">
					   	<input disabled id="first-name" type="text" class="validate" required>
					    <label for="first-name">First Name</label>
  					</div>
					<div class="input-field col s6">
					    <input disabled id="last-name" type="text" class="validate" required>
					    <label for="last-name">Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
					    <input id="pw-new" type="password" class="validate" required>
					    <label for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
					    <input id="pw-new-valid" type="password" class="validate" required>
					    <label for="password">Re-enter Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
					    <input id="fact" type="text" class="validate" required>
					    <label for="fact">Fun Fact</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 center-align">
					    <button class="waves-effect waves-meeshteal btn" type="submit" id="newuser-submit">
					      	SUBMIT
					    </button>
					</div>
				</div>
			</form>

			<div class="row">
				<div class="col s12 center-align" id="title">
			    	<a href="#greeting-link">Back to Top</a>
				</div>
			</div>
		</div>
	</div>

	<footer class="container">
		<div class="row">
        	<div class="col s12">
				<div class="footer-copyright center-align">
		            © 2017 Copyright Text
		        </div>
		    </div>
		</div>
    </footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
	<script src="../assets/js/DrawSVGPlugin.min.js"></script>
	<script src="../assets/js/SplitText.min.js"></script>
	<script src="../assets/js/landing.js"></script>
	<script src="../assets/js/recoverpw.js"></script>
	
</body>
</html>