body {
	background-color: #fff;
	color: #fff8ca;
}

#greeting-page, #newuser-page {
	height: 100vh;
}

button {
	margin: 0 auto;
}

h1 {
	font-family: 'Lobster', cursive;
}

#intro-text {
    letter-spacing: 0.15em;\
    margin: 0 auto;
}

#sign-in {
    opacity: 1;
}

/*FORMS*/

/* label color */
.input-field label {
    color: #fff8ca;
}

input[type=text], input[type=password], input[type=email] {
   	border-bottom: 1px solid #fff8ca
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label {
    color: #fff8ca;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid #fff8ca;
    box-shadow: 0 1px 0 0 #fff8ca;
}
/* valid color */
.input-field input[type=text].valid, .input-field input[type=email].valid, .input-field input[type=password].valid {
    border-bottom: 1px solid #fff8ca;
    box-shadow: 0 1px 0 0 #fff8ca;
}
/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=email].invalid, .input-field input[type=password].invalid {
    border-bottom: 1px solid #fff8ca;
    box-shadow: 0 1px 0 0 #fff8ca;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #fff8ca;
}