/*COLOR PALETTE*/
/* for header/footer BG/landing BG - dark yellow - #ffdf3e*/
/* for body BG - lighter yellow - #ffe97c */
/* for text - lightest yellow - #fff8ca */
/* for accents - teal - #6DDDB8  && charcoal - #767676*/

/*-----------------*/

/*GENERAL*/

body {
  background-color: #ffdf3e;
  color: #fff8ca;
  font-size: 16px;
}

h1, p {
    color: #fff8ca;
}

.waves-effect.waves-meeshteal {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(109, 221, 184, 0.98);
    }
.btn {
    background-color: #6DDDB8;
}

.flow-text {
    font-size: 16px;
    color: #767676;
}

a {
    color: #fff8ca;
    cursor: pointer;
}

a:hover, a:active, a:visited {
    color: #fff;
}

#greeting-page, #newuser-page {
  height: 100vh;
}

h1 {
  font-family: 'Lobster', cursive;
}

#intro-text {
    letter-spacing: 0.15em;\
    margin: 0 auto;
}

#sign-in {
    opacity: 1;
}

/*-----------------*/

/*MODAL*/
.modal, .modal .modal-footer {
    background-color: #ffdf3e;
}

/*-----------------*/

/*FORMS*/

/* label color */
.input-field {
    margin-top: 0;
}
.input-field label {
    color: #fff8ca;
}

input[type=text], input[type=password], input[type=email] {
    border-bottom: 1px solid #fff8ca;
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label {
    color: #fff8ca;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid #fff8ca;
    box-shadow: 0 1px 0 0 #fff8ca;
}
/* valid color */
.input-field input[type=text].valid, .input-field input[type=email].valid, .input-field input[type=password].valid {
    border-bottom: 1px solid #fff8ca;
    box-shadow: 0 1px 0 0 #fff8ca;
}
/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=email].invalid, .input-field input[type=password].invalid {
    border-bottom: 1px solid #fff8ca;
    box-shadow: 0 1px 0 0 #fff8ca;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #fff8ca;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff8ca;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff8ca;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff8ca;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff8ca;
}