/*COLOR PALETTE*/
/* for header/footer BG/landing BG - dark yellow - #ffdf3e*/
/* for body BG - lighter yellow - #ffe97c */
/* for text - lightest yellow - #fff8ca */
/* for accents - light/dark teal - #6DDDB8/#00CB88  && charcoal - #767676*/

/*-----------------*/

/*FAQ*/
.profile-photo {
	width: 100%;
	height: auto;
}
.collapsible, .collapsible-body, .collapsible-header, .faq-icon {
	background-color: #ffdf3e;
	color: #fff8ca;
	box-shadow: none;
	font-size: 20px;
}

.collapsible-header {
    border-bottom: 3px solid #ffe97c;
}

.collapsible {
    border-top: 1px solid #ffe97c;
    border-right: none;
    border-left: none;
}

.collapsible-body {
	border-bottom: 3px solid #ffe97c;
	background-color: rgb(246, 215, 59);
}

@media only screen and (max-width: 500px)  {
	li {
		font-size: 16px;
	}
	.row {
		margin-bottom: 5px;
	}

	.row .collapsible {
		margin-top: 15px;
	}
	
	.badge-comment, .collection .collection-item.avatar .title {
		font-size: 14px;
	}
	.collection .collection-item.avatar .circle {
    	width: 45px;
    	height: 45px;
    	left: 10px;
    	padding-right: 0px;
	}
}

@media only screen and (max-width: 320px)  {
	li {
		font-size: 14px;
	}
	.badge-comment, .collection .collection-item.avatar .title {
		font-size: 12px;
	}
}