/*COLOR PALETTE*/
/* for header/footer BG/landing BG - dark yellow - #ffda21*/
/* for body BG - lighter yellow - #ffe354 */
/* for text - lightest yellow - #fffbe4 */
/* for accents - light/dark teal - #6DDDB8/#00CB88  && charcoal - #767676*/


/*-----------------*/

/*FAQ*/
.profile-photo {
	width: 100%;
	height: auto;
}
.collapsible, .collapsible-body, .collapsible-header, .faq-icon {
	background-color: #ffda21;
	color: #fffbe4;
	box-shadow: none;
	font-size: 20px;
}

.collapsible-header {
    border-bottom: 3px solid #ffe354;
}

.collapsible {
    border-top: 1px solid #ffe354;
    border-right: none;
    border-left: none;
}

.collapsible-body {
	border-bottom: 3px solid #ffe354;
	background-color: #00CB88;
}

#position {
	font-size: 22px;
}
/*-----------------*/

/*PROFILE*/
#profile-info-wrap {
  margin-bottom: 0;
}

#profile-header {
  margin-bottom: 10px;
}

#prof-badge-row {
	margin-bottom: 2px;
}

.scroll {
	margin-bottom: 50px;
}
/*-----------------*/

/*MEDIA QUERIES*/
@media only screen and (max-width: 500px)  {
	#position {
		font-size: 18px;
	}
	li {
		font-size: 16px;
	}
	.row {
		margin-bottom: 5px;
	}

	.row .collapsible {
		margin-top: 15px;
	}
	
	.badge-comment, .collection .collection-item.avatar .title {
		font-size: 14px;
	}
	.collection .collection-item.avatar .circle {
    	width: 45px;
    	height: 45px;
    	left: 10px;
    	padding-right: 0px;
	}

	#profile-info-list {
		text-align: center;
	}
}

@media only screen and (max-width: 320px)  {
	li {
		font-size: 14px;
	}
	.badge-comment, .collection .collection-item.avatar .title {
		font-size: 12px;
	}
	.profile-photo {
	width: 100%;
	height: auto;
}
}