/*COLOR PALETTE*/
/* for header/footer BG/landing BG - dark yellow - #ffdf3e*/
/* for body BG - lighter yellow - #ffe97c */
/* for text - lightest yellow - #fff8ca */
/* for accents - teal - #6DDDB8  && charcoal - #767676*/

/*-----------------*/

/*GENERAL*/
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	color: #fff8ca;
	background-color: #ffe97c;
}

.brand-logo {
	font-family: 'Lobster', cursive;
}

.main {
	flex: 1 0 auto;
}

#github {
	height: 40px;
}

nav, .page-footer, .footer-copyright, .page-footer .footer-copyright {
	background-color: #ffdf3e;
	color: #fff8ca;
}

.material-icons {
	color: #fff8ca;
}

.userView {
	background-color: #6DDDB8;
}


/*Additional Footer Styling*/
.grey-text.text-lighten-4.right {
	font-size: 20px;
}

footer.page-footer {
	padding-top: 0px;
}
